
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>PokeSquads</title>
</head>
<header>
    <img src="/images/PokeSquadsLogo.png" width="716" height="168">
</header>
<body>
    <h1>POKESQUADS </h1> 
   
    {{{body}}}
    <script src=""></script>
</body>
</html>