
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon-16x16.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>PokeSquads</title>
</head>
<header>
    <img src="/images/PokeSquadsLogo.png" width="716" height="168">
</header>
<body>
    {{{body}}}
    <script src=""></script>
</body>
</html>