<h2>Welcome to PokeSquads!</h2>

    <div class="ui container">
        <h1>Search for Pokemon!</h1>
        <div class="ui search">
            <div class="ui icon input">
                <input class="prompt" type="text" placeholder="Search...">
                <i class="search icon"></i>
            </div>
            <div class="ui-grid" id="searchResults">
                <div class="ui-grid" id="savedResults"><div>
                        {{#each savedResults}}
        <div class="six wide column">
            <div class="ui segment">
                <h2>{{this}}</h2>
                <!-- Add more content here if needed -->
            </div>
        </div>
        {{/each}}

          {{#each savedResults}}
        <div class="six wide column draggable" draggable="true">
            <div class="ui segment">
                <h2>{{this}}</h2>
            </div>
        </div>
        {{/each}}

   </div>
   <script src="./js/home.js"></script>
{{!-- 
Have to have a way to link api to autocomplete search function --}}

{{!-- 
  $('.ui.search')
        .search({
            source: autocompleteData, // Data for autocomplete suggestions
            onSelect: function(result) {
                // Handle item selection (e.g., navigate to a search result page)
                console.log("Selected item:", result);
            }
        });
        Possible function to be able to have autocomplete work.


 --}}













