<h2>Welcome to PokeSquads!</h2>

    <div class="ui container">
        <h1>Search for Pokemon!</h1>
        <div class="ui search">
            <div class="ui icon input">
                <input class="prompt" type="text" placeholder="Search...">
                <i class="search icon"></i>
            </div>
            <div class="results" id="searchResults">




    </div>












