<h2>Login to create your Team!</h2>
{{!-- PokeSquads logo? Could be above it or below. --}}

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <div class="ui large form">
            <div class="ui stacked element">
                <div class="field">
                    <input type="text" placeholder="Enter your Username here" id="username">
                </div>
                <div class="field">
                    <input type="text" placeholder="Enter your Password here" id="password">
                </div>
                <button type="submit" class="ui fluid black submit button" id="submit">Sign into your Account</button>
            </div>
        </div>
    </div>
</div>