<img id="poke-sprites" src="/images/PokeSquad.png" width="500" height="300">
<h2>Login to create your Team!</h2>
{{!-- PokeSquads logo? Could be above it or below. --}}

<div id="center-pokeball" class="column">
    <form class="ui large form">
        <div id="ui-content" class="ui middle aligned stacked element">
            <div class="field">
                <p>Sign in below</p>
                <input type="text" placeholder="Username" id="username-login">
            </div>
            <div class="field">
                <input type="text" placeholder="Password" id="password-login">
            </div>
            <button type="submit" class="ui fluid black submit button" id="submit">LOG IN</button>
        </div>
    </form>

    {{!-- Add a link to "sign up here" to the create an account page? --}}
    <p><b>New to PokeSquads?<br>Sign up here.</b></p>
</div>


{{!-- <script src="js --}}

<script src="js/login.js"></script>








