<img id="poke-sprites" src="/images/PokeSquad.png" width="500" height="300">
<h2>Create your account to get started!</h2> 

<div id="center-pokeball" class="column">
    <form class="ui large form">
        <div id="ui-content" class="ui middle aligned stacked element">
            <div class="field">
                <p>Enter a Username</p>
                <input type="text" placeholder="Username" id="username-create">
            </div>
            <div id="login">
                <div class="field">
                    <p>Enter a Password</p>
                    <input type="text" placeholder="Password" id="password-create">
                </div>
                <button type="submit" class="ui fluid black submit button" id="submit-create">Create Account</button>
            </div>
        </div>
    </form>
</div>


<script src="js/sign-up.js"></script>