<h2>Create your account to get started!</h2>

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <div class="ui large form">
            <div class="ui stacked element">
                <div class="field">
                    <input type="text" placeholder="Enter a Username for your account" id="username-create">
                </div>
                <div id="login">
                    <div class="field">
                        <input type="text" placeholder="Enter a new password for your account" id="password-create">
                    </div>
                    <button type="submit" class="ui fluid black submit button" id="submit-create">Create Account</button>
                </div>
            </div>
        </div>
    </div>
</div>