@font-face {
    font-family: 'PokemonGB';
    src: url('../fonts/PKMN-RBYGSC.ttf') format('truetype');
}



body {
    font-family: 'PokemonGB';
    margin: 0;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    background: -webkit-linear-gradient(top, red 50%, white 50%);
}

body > .grid {
    height: 100%;
}

/* #container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#top {
    z-index: -100;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 50%;
    background-color:red;
   
}

#bottom {
    z-index: -100;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    bottom: 0;
    background-color:white;
    
} */

.image {
    margin-top: -100px;
}

/* .column {
    max-width: 450px;
    margin: auto;
    margin-top: 300px;
    text-align: center;
} */

.submit {
    border: 1px;
    border-color: black;
}

#submit-create {
    width: 177px;
    height: 30PX;
    font-family: 'PokemonGB';
    margin-top: 20px;
    background-color: rgb(141, 141, 141); 
}

#submit {
    /* width: 177px;
    height: 30PX; */
    font-family: 'PokemonGB';
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(141, 141, 141); 
}


form {
    display: flex;
    flex-direction: column;
    width: 325px;
    height: 325px;
    border: 20px solid #cecece;
    border-color: black;
    border-radius: 50%;  
    background:#fff;   
  } 

#center-pokeball {
    margin-top: 50px;
}

#ui-content {
    margin: auto;
}

/* .centered {
    position: fixed;
    top: 50%;
    left: 50%;
} */

/* .content {
    margin-top: 30%;
    font-size: 30px;
    margin-bottom: 30px;
} */

.large {
    margin: auto;
}

#center {
    padding: 20px;
}

.field {
    margin: 10px;
}


header {
    margin: auto;
}

#poke-sprites {
    margin: auto;
    margin-top: -70px;
}

.hash {
    display: flex;
    justify-content: space-between;
}

h2 {
    margin: auto;
}


#front-sprite {
    margin: auto;
    width: 150px;
    height: 150px;
}

.ui.card {
    display: inline-block;
    width: 300px;
    height: auto;
}