@font-face {
    font-family: 'PokemonGB';
    src: url('../fonts/PKMN-RBYGSC.ttf') format('truetype');
}


body {
    font-family: 'PokemonGB';
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url('../images/pokeball-background.JPG');
    /* background: -webkit-linear-gradient(top, red 50%, white 50%); */
}

body > .grid {
    height: 100%;
}

.image {
    margin-top: -100px;
}

.column {
    max-width: 450px;
    margin: auto;
    margin-top: 300px;
    text-align: center;
}

.submit {
    border: 1px;
    border-color: black;
}

#submit-create {
    width: 177px;
    height: 30PX;
    font-family: 'PokemonGB';
    margin-top: 20px;
    background-color: rgb(141, 141, 141); 
}

#submit {
    /* width: 177px;
    height: 30PX; */
    font-family: 'PokemonGB';
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(141, 141, 141); 
}


form {
    /* z-index:999; */
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border: 20px solid #cecece;
    border-color: black;
    border-radius: 50%;
    padding: 20px;
    
    
    background:#fff;
    
  } 

#ui-content {
    margin: auto;
}

.content {
    margin-top: 30%;
    font-size: 30px;
    margin-bottom: 30px;
}

.large {
    margin: auto;
}

#center {
    padding: 20px;
}

.field {
    margin: 10px;
}


header {
    margin: auto;
}

#pokeSprites {
    margin: auto;
    margin-top: -70px;
}


h2 {
    margin: auto;
}

#sign-up-box {
    border: 10px;
    border-color: black;
}